body {background-color: rgb(204, 23, 174);
color:rgb(99, 243, 42) }
section {
    background: rgb(230, 800, 425);
    padding-bottom: 80px;
            padding-top: 80px;
            display: flex; /*torna flexível = coloca um do lado do outro*/
            justify-content: center; /*coloca no centro*/
    }
     
    .chamada-texto {
 	margin-right: 5%;
}
